{% extends 'base.html.twig' %}

{% block body %}
    <h1> last fortunes</h1>
<ul>
    {% for fortune in fortunes %}

    {% include 'default/_fortune.html.twig'%}
        {% if app.session.hasFlash('error') %}
            {% set message = app.session.getflash('error') %}
            <p>{{ message }}</p>
        {% endif %}
    {% endfor %}
</ul>
    <div class="pagerfanta">
        {{ pagerfanta(fortunes) }}
    </div>
{% endblock %}



{% block stylesheets %}
<style>

</style>
{% endblock %}
