{% extends 'base.html.twig' %}

{% block body %}
    <h1>Moderation board</h1>

    {% for fortune in fortunes %}
        {% include 'default/_fortune.html.twig' with {fortune: fortune} %}

        <p>ici : {{ fortune.published }}</p>

        {% if fortune.published == 0 %}
            <a href="{{ path('setPublished', { id: fortune.id })}} ">publier</a>
        {% else %}
            <a href="{{ path('edit', { id: fortune.id })}} ">editer</a>
        {% endif %}
    {% endfor %}
{% endblock %}
