{% extends 'base.html.twig' %}

{% block body %}
    <h1>Moderation board</h1>

    {% for fortune in fortunes %}
        {% include 'default/_fortune.html.twig' with {fortune: fortune} %}



        {% if fortune.published %}
            <a href="{{ path('edit', { id: fortune.id })}} ">editer</a>
        {% else %}
            <a href="{{ path('publishe', { id: fortune.id })}} ">publier</a>
        {% endif %}
    {% endfor %}
{% endblock %}